* {
    font-size: 26px;
    font-family: 'Courier New', Courier, monospace;
}

.header {
    text-align: center;
    background-color: lightcyan;
}

.header img {
    width: 23%;
    height: auto;
    
}

.body{
    background-color: rgb(248, 231, 233);
}